$padding: 1rem;
$primaryColor: #6F96D1 ;
$secondaryColor:#091F5B ;
$tetiaryColor: #BAD6EB ;
$textColor: #000 ;
$font-main: Arial, Helvetica, sans-serif;

@mixin btn( $secondaryColor: $primaryColor){
        background-color: $primaryColor;
        padding: 1em 3em;
        stroke: $secondaryColor;
        border-radius: 25px;
        cursor:pointer; 
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        max-width: 350px;
}

