$padding: 1rem;
$primaryColor: #6F96D1 ;
$secondaryColor:#091F5B ;
$tetiaryColor: #BAD6EB ;
$textColor: #000 ;
$font-main: Arial, Helvetica, sans-serif;

@mixin btn( $secondaryColor: $primaryColor){
        width: 350px;
        height: 70px;
        background-color: $primaryColor;
        margin: 10px auto;
        padding: 1em 4em;
        stroke: $secondaryColor;
        border-radius: 25px;
        cursor:pointer; 
        font-size: 16px;
        text-decoration: none;
        text-align: center;

        &:hover {
                background-color: $tetiaryColor;
                box-shadow: $secondaryColor 5px 5px 30px;
        }
}

